

body {
    overflow-x: hidden;
  }


.news-container {
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  display: flex;
  animation: ticker 5s linear infinite;
  width: auto; 
}

.news-slider {
  width: 10%;
  margin-right: 120px;
}

.line-name-partner{
  width: 10%;
  height: 5px;
  background-color: #A367F9;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}
@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}