.background-footer{
    width: 100%;
    /* background: #F4ECFF; */
    background: linear-gradient(66deg, #502481 60%, #5b1091 60%);
    /* background: url('../../images/background/background-purple3.jpg');

    background: linear-gradient(to top, #805e8be6, #83359be6), url('../../assets/images/ร๊อคอินหน้าเวบ-02.jpg'); */
    height: auto;
    padding-bottom: 100px;
    padding-top: 2%;
    padding-bottom: 2%;
    background-attachment: fixed;
    background-size: cover;

}
.img-footer{
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}
.txt-head-footer{
    -webkit-text-stroke: 2px #ffffff;
}
.txt-footer{
    -webkit-text-stroke: 1px #e6b4eb;
}

.txt-footer:hover{
    -webkit-text-stroke: 1px #f334ca !important;
}





@media only screen and (max-width: 930px) {
    .img-footer {
        width: 50%;
        height: 50%;
    }
    .txt-head-footer{
       padding-left: 20%;
    }
    .txt-footer{
        padding-left: 20%;
    }
    .txt-footer {
        font-size: 12px;
    }
    .txt-head-footer {
        font-size: 18px;
    }

  
}

@media only screen and (max-width: 576px) {
.img-footer {
    width: 40%;
    height: 100%;
}

}