

  .navbar{
    background: rgb(65,181,255) !important;
    background: linear-gradient(90deg, rgba(65,181,255,1) 0%, rgb(137 61 252) 100%) !important;
    color: #ffff;
    position: sticky !important;
    top: 0;

  }
  .nav-link{
    color: #ffff !important;
    -webkit-text-stroke: 0.2px rgb(255, 255, 255);
  }
  .txt-checkParcel{
    color: #ffff !important;
  }

  .contact-us{
    background: #7340BC !important;
    border-radius: 50px;
    padding-right: 30px !important;
    padding-left: 30px !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.contact-us:hover{
  background: #a200ff !important;
  border-radius: 50px;
  padding-right: 30px !important;
  padding-left: 30px !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.img-logo{
  width: 130px;
}
.navbar-expand-lg .navbar-collapse {
  display: flex;
  justify-content: end;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 420px) {
  .navbar-nav .dropdown-menu {
    position: static;
    background: rgb(65,181,255) !important;
    background: linear-gradient(90deg, rgba(65,181,255,1) 0%, rgba(119,91,254,1) 100%) !important;
}
.navbar-nav .dropdown-menu {
  position: static;
  border: hidden;
}
.dropdown-item{
  color: #ffff !important;
}
.contact-us{
  background: #7340BC !important;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.img-logo{
  width: 180px;
}
}
