.img-check{
    width: 100%;
}

.Card{
    color: rgb(78, 12, 139);
    width: 100%;
    border-radius: 25px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-text-stroke: 0.5px;
    margin-top: 8%;
    border: 2px dashed rebeccapurple;
}
.txt-check{
    -webkit-text-stroke: 0.8px #5f009e;
}
.btn-primary{
    border: none;
    border-radius: 25px;
   background: rgb(103,76,231);
   background: linear-gradient(90deg, rgba(103,76,231,1) 18%, rgba(141,39,248,1) 60%);
}
.btn-primary:hover{
   background: rgb(103,76,231);
   background: linear-gradient(90deg, rgb(214, 36, 238) 18%, rgb(248, 39, 84) 60%);
}


@media only screen and (max-width:576px) {
    .Card{
       margin-left: 1px;
    }
}